# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*__init__.py
.Python/
venv/
.env

# Editor-specific files
.vscode/
.idea/

# Datapack output (assuming DATAPACK_PATH is outside the repo, but just in case)
*.zip

# Operating System files
.DS_Store
thumbs.db